.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  font-size: 12px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid rgb(140, 185, 253);
  color: rgb(140, 185, 253);
  &:hover {
    border: 1px solid rgb(100, 145, 213);
    color: rgb(100, 145, 213);
  }
  &[data-active=true] {
    background-color: rgb(140, 185, 253);
    color: white;
  }
}
